.feynman__link {
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    right: 48px;
    top: 50%;
    transition: opacity .8s ease;
}

.feynman__link:hover {
    transition: opacity .4s ease;
    opacity: 0.6;
}