.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    margin-left: 48px;
    padding: 0;
    transition: opacity .8s ease;
}

.khan__buy-link:hover {
    transition: opacity .4s ease;
    opacity: 0.6;
}